.no-break {
    page-break-inside: avoid;
}

div {
    padding-bottom: 40px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%
}

th, td {
    padding: 5px !important;
    padding-left: 10px !important;
    font-size: 20px;
}
